[submodule "website/themes/ananke"]
	path = website/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "website/themes/beautifulhugo"]
	path = website/themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "website/themes/hextra"]
	path = website/themes/hextra
	url = https://github.com/imfing/hextra.git
[submodule "website/themes/perplex"]
	path = website/themes/perplex
	url = https://github.com/bowman2001/perplex
[submodule "website/themes/HugoTheme-VibrantShadows"]
	path = website/themes/HugoTheme-VibrantShadows
	url = https://github.com/Softorage/HugoTheme-VibrantShadows.git
[submodule "website/themes/paige"]
	path = website/themes/paige
	url = https://github.com/willfaught/paige.git
[submodule "website/themes/hugo-geekdoc"]
	path = website/themes/hugo-geekdoc
	url = https://github.com/thegeeklab/hugo-geekdoc.git
